<div>

	<h1 class="fa">
  	<span class="fa-stack fa-lg">
  	  <i class="fa fa-square fa-stack-2x"></i>
  	  <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
    </span>
		Soline
    </h1>

	<br/>
	<h2 class="fa">3 months || 1 sister</h2>
	<br />
  <h4 class="fa"><a href="mailto:me@home.com">eMail me</a></h4>
  <br />
  <h4 class="fa">
      <a href="https://">
      Link</a></h4>
  </div>
