<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <h4>
    <a href="/">
      <i class="fa fa-home"></i>Home</a>
    <a href="/">
      <i class="fa fa-cube"></i></a>
    <a href="/">
      <i class="fa fa-comment"></i></a>
    <a href="/">
      <i class="fa fa-desktop"></i></a>
    <a href="/">
      <i class="fa fa-check-square"></i></a>
    <a href="/">
      <i class="fa fa-cloud"></i></a>
    <a href="/">
      <i class="fa fa-area-chart"></i></a>
    <a href="/" class="right">
      <i class="fa fa-user"></i></a>
  </h4>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
  <a href="aboutus">
    <i class="fa fa-question-circle"></i>
    About us</a> |
    Copyright 2015
</div>

<%=yield%>

<script src="/js/bootstrap.min.js"></script>
</body>

</html>


