<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>

          <span class="icon-bar"><i class="fa fa-home"></i></span>
          <span class="icon-bar"><i class="fa fa-comment"></i></span>
          <span class="icon-bar"><i class="fa fa-desktop"></i></span>
          <span class="icon-bar"><i class="fa fa-check-square"></i></span>
          <span class="icon-bar"><i class="fa fa-cloud"></i></span>
          <span class="icon-bar"><i class="fa fa-pie-chart"></i></span>

        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/"><i class="fa fa-comment"></i></a></li>
          <li><a href="/"><i class="fa fa-desktop"></i></a></li>
          <li><a href="/"><i class="fa fa-check-square"></i></a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/"><i class="fa fa-cloud"></i></a></li>
          <li><a href="/"><i class="fa fa-pie-chart"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/"><i class="fa fa-user"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="navbar navbar-fixed-bottom">
  <a href="aboutus">
    <i class="fa fa-question-circle"></i>
    About us</a> |
    Copyright 2015
</div>

<%=yield%>

<script src="/js/bootstrap.min.js"></script>
</body>

</html>


